* {
			box-sizing: border-box;
			font-family: Helvetica;
}

html, body {
			width: 100%;
			padding: 10px;
			margin: 0;
			background: #FF00FC;
			background: -moz-linear-gradient(top, #FF00FC 0%, #00BBF1 100%);
			background: -webkit-linear-gradient(top, #FF00FC 0%,#00BBF1 100%);
			background: linear-gradient(to bottom, #FF00FC 0%,#00BBF1 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF00FC', endColorstr='#00BBF1',GradientType=0 );

            
}

body {
			height: 2000px;
}

.inner {
			width: 100%;
			max-width: 960px;
			margin: 0 auto;
			background-color: #FFF;
}

section {
			width: 74%;
}

section .inner {
	padding: 20px;
}

nav{
			Position:fixed;
			top:0;
			right:0;
			width:24%;
			background-color:#000;
}	
nav ul {
			width:100%;
			padding:0;
			margin:0;
}

nav ul li {									
			list-style:none;;			
}
		   
nav ul li a{
			text-align:center;
			padding:15px;
			text-decoration:none;
			display:block;
			font-weight:bold;
			color: #FFF;
}

   nav ul li a:hover {
			background-color: #333333;
			transition: all .55s;
			margin-left:200px;	
			border-right: 5px solid #00ff4A;
}
	nav ul li.green a:hover {
	border-right:5px solid #FF0000;
}